

.ipynb_checkpoints/Creating Jute NDVI & EVI dataset-checkpoint.ipynb
.ipynb_checkpoints/Filtering and Exporting Sentinel NDVI as GeoTiff-checkpoint.ipynb
.ipynb_checkpoints/Map of specific location-checkpoint.ipynb
.ipynb_checkpoints/Map of specific location-checkpoint.ipynb
.ipynb_checkpoints/NDVI of drawn feature-checkpoint.ipynb
.ipynb_checkpoints/Map of specific location-checkpoint.ipynb
.ipynb_checkpoints/Visualizing and Extracting NDVI as GeoTiff-checkpoint.ipynb
.ipynb_checkpoints/Map of specific location-checkpoint.ipynb
.ipynb_checkpoints/Visualizing and Extracting NDVI as GeoTiff-checkpoint.ipynb
.ipynb_checkpoints/Map of specific location-checkpoint.ipynb
.ipynb_checkpoints/Visualizing and Extracting NDVI as GeoTiff-checkpoint.ipynb
